/*

For primary color and seconday color => https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=263238&secondary.color=FF5252

*/
html{
   background: #263238;
}
body{ 
   margin: 0 auto;
   justify-content: center;
   color: white;
   background: #263238;
}

.navbar {
    background-color: #263238;
    margin: 0 auto ;
    font-size:x-large;
}
.nav-link{
    margin: 1rem;
}
.nav-link:hover{
    text-decoration : underline;
}

.profile{
    padding: 1rem;
    display: flex;
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 50%;
    
}
.profile-container{
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.board {
    border-bottom: 1px solid whitesmoke;
}

.social-links{
    padding:4px;
    font-size: larger;
    margin-right: 16px;
}

.container {
    margin-bottom: 2em ;
}
h1{
    text-decoration:wavy;
    color: aqua;
    margin-bottom: 16px;
}
h1::selection{
    text-decoration: underline;
    color: #dc78f5;
}
.current_status{
    padding: 1em;
    color: whitesmoke;
    background: rgb(2,0,36);
    background: linear-gradient(332deg, rgba(2,0,36,1) 0%, rgba(0,220,246,1) 0%, rgba(141,0,255,0.9920343137254902) 100%, rgba(124,2,254,1) 100%, rgba(149,79,254,1) 100%, rgba(0,212,255,1) 100%);
}

h2{
    color: #f278ad;
}

a{
    color: #f278ad;
    text-decoration: none;
}
a:hover{
    color: #94bbe9;
}


.internship-period{
    color: #e7b9ff;
}

footer{
    display: block;
    margin:0 auto ;
    margin-bottom: 16px;
}

.skill-list  li{
    display: inline-block;
    list-style-type: none;
    margin-right: 16px;
    font-size: large;
}

.portfolio-name{
    margin-right: 8rem;
}